<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lider_express">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Лидер-Эксперт"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Instruments.Menu_tools"
            android:label="@string/title_activity_menu_tools"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Svodnaya.KartaKontrolyaSPPK"
            android:label="@string/title_activity_karta_s_p_p_k"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Transport_list"
            android:label="@string/title_activity_transport_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Oborudovanie"
            android:label="@string/title_activity_oborudovanie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Svodnaya.MegionSvodnaya"
            android:label="@string/title_activity_megion20220"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Synchronization.Synchronization"
            android:label="@string/title_activity_synchronization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instruments.VmyatinaSocuda"
            android:label="@string/title_activity_vmyatina_socuda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instruments.GiSosuda"
            android:label="@string/title_activity_gi_sosuda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instruments.SpisokBND"
            android:label="@string/title_activity_spisok"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instruments.SpisokMegion"
            android:label="@string/title_activity_spisok"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tools.BND.PumpControlCard"
            android:label="Сводная таблица"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Camera" />
        <activity
            android:name=".Svodnaya.KartaKontrolyaYDE"
            android:label="Сводная таблица"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Svodnaya.ProvedeniyeYZT"
            android:label="Сводная таблица"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SittingsActivity"
            android:label="Настройки"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Сamera2.MainCamera2"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.lider_express.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>